
    <div class="body">
        
    <div class="container">

        <div class="instruction">
            <div class="icon">😁</div>
            <div class="text">
                <h2>A project by <a class="linkedin" href="https://www.linkedin.com/in/harsh-satone-2b23ba214">@HarshSatone</a></h2>
                <p>Studing at MIT-WPU .</p>
            </div>
        </div>
        
        <div class="instruction">
            <div class="icon">🌱</div>
            <div class="text">
                <h2>Create a New Habit</h2>
                <p>Click on the plant icon to create a new habit.</p>
            </div>
        </div>

        <div class="instruction">
            <div class="icon">✅</div>
            <div class="text">
                <h2>Complete a Habit</h2>
                <p>Click on the complete button to mark a habit as completed. It will disappear from the list.</p>
            </div>
        </div>

        <div class="instruction">
            <div class="icon">🔄</div>
            <div class="text">
                <h2>Bring Back All Habits</h2>
                <p>Click on the reload icon to make all habits reappear on the list.</p>
            </div>
        </div>

        <div class="instruction">
            <div class="icon">🟥</div>
            <div class="text">
                <h2>Delete a Habit</h2>
                <p>Click on the red icon to permanently delete a habit.</p>
            </div>
        </div>
    </div>
</div>
